AsyncAwaitPitfalls/bin/
AsyncAwaitPitfalls/obj/
.vs/AsyncProgramming/v16/.suo
.vs/
AsyncProgramming/bin/
AsyncProgramming/obj/
FileCRCCalculation/bin/
FileCRCCalculation/obj/
streamWriterConsoleToFile/bin/
streamWriterConsoleToFile/obj/
AsyncAwaitExample/obj/
AsyncAwaitExample/bin/
TaskExample/bin/
TaskExample/obj/
TaskSchedulingAndUSBEventTest/bin/
TaskSchedulingAndUSBEventTest/obj/
WaitPitFalls/bin/
WaitPitFalls/obj/