AsyncAwaitPitfalls/bin/
AsyncAwaitPitfalls/obj/
.vs/AsyncProgramming/v16/.suo
.vs/
TaskCompleteSourceExample/bin/
TaskCompleteSourceExample/obj/
FileCRCCalculation/bin/
FileCRCCalculation/obj/
streamWriterConsoleToFile/bin/
streamWriterConsoleToFile/obj/
AsyncAwaitExample/obj/
AsyncAwaitExample/bin/
TaskExamples/bin/
TaskExamples/obj/
TaskSchedulingAndUSBEventTest/bin/
TaskSchedulingAndUSBEventTest/obj/
WaitPitFalls/bin/
WaitPitFalls/obj/
LoggingWithDisposeCall/bin/
LoggingWithDisposeCall/obj/
TaskWithinTasks/bin/
TaskWithinTasks/obj/
AsyncWebDownload/bin/
AsyncWebDownload/obj/
MorseCodeGenerator/bin/
MorseCodeGenerator/obj/
CSVFileReader/bin/
CSVFileReader/obj/
packages/
RandomNumberGen/bin/
RandomNumberGen/obj/
USBDeviceDetect/obj/
USBDeviceDetect/bin/
CMDLineBatchFileRun/bin/
CMDLineBatchFileRun/obj/
crc16/bin
crc16/obj
Classinheritance/bin/
Classinheritance/obj/
WindowsSerialPorts/bin
WindowsSerialPorts/obj

